
<main>
  <nav class="navbar d-flex justify-content-between ">
    <div class="container-fluid">
      <a class="navbar-brand d-flex py-2" href="javascript:void(0)">
        <img src="../assets/img/saint-gobain-logo.png" alt="" class="d-inline-block align-text-top">
        <h4 class="mb-0 my-1 text-white" style="font-family: Caveat;">Hackfest 22</h4>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
        <h3 class="text-center text-white">NFC APP</h3>
      </div>
    </div>
    <!-- Content -->
    <div class="text-center">
      <input type="text" placeholder="Enter Something" class="getIpValue">
      <div class="my-3">

        <button id="scanButton" class="btn btn-info mx-2 text-white scanButton cursor-pointer" >scan</button>
        <button id="writeButton" class="btn btn-success writeButton cursor-pointer">Read/write</button>
        <div class="text-white my-3">
          <label class="scanStrar" style="width: 100%;"></label>
          <label class="scanResult" style="width: 100%;"></label>
          <label class="recordType" style="width: 100%;"></label>
          <label class="mediaType" style="width: 100%;"></label>
          <label class="data" style="width: 100%;"></label>
        </div>
      </div>
    </div>
